header li {
    display: inline-block;
    
}
header ul {
    text-align: center;
    padding: 20px;
    
}
header button {
    padding: 12px;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 3px;
    transition: background-color 1s;
}

header button:hover{
    background-color: #46899d;
}
header button a {
    text-decoration: none;
    color: #fff;
}

header {
    background-image: url(../img/destaque.jpeg);
    background-size: cover;
    height: 350px;;
}
.container { 
    margin: 0;
}
.titulo {
    text-align: center;
}
.titulo h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #000;
    color: #fff;;
}
.titulo h2 {
    color: #7fff00;
    font-size: 50px;
    text-shadow: 3px 3px 5px #000;
    margin-top: 10px;
}

.titulo button {
    background-color: #46899d;
    font-size: 18px;
    width: 200px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 35px;
    box-shadow: 2px 2px 2px #000;
    border: 1px solid #000;
}

main {
    text-align: center;
    line-height: 1.9;
    font-size: 15px;
    padding: 10px;
}
main h1 {
    font-size: 30px
}
main h3 {
    font-size: 20px
}
section {
    background-color: orangered;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
section h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
 
}
section p {
    font-size: 30px;
    padding: 10px;
}
section li {
    display: inline-block;
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    box-sizing: border-box;
    margin: 10px;
    padding: 15px;
    width: 20%;
    min-width: 220px;
    line-height: 2.0;
}
section img {
    width: 100%;
    border-radius: 50%;
}
strong {
    font-weight: bold;
}
article {
    padding: 20px;
    line-height: 1.5;
}
article h1 {
    color: orangered;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  
}
article input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 2px #46899d;
}
article input[type=submit] {
    display: block;
    background-color: #46899d;
    font-size: 12px;
    font-weight: bold;
    text-justify: center;
    color: #fff;
    width: 200px;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    box-shadow: 2px 2px 2px #000;
}
label {
    display: block;
    font-weight: bold;
}


@media (min-width: 740px){
    header button{
        font-size: 100%;
    }
    .titulo h1 {
        font-size: 100px;
    }
    .titulo h2 {
        font-size: 60px;
    }
    header {
        height: 400px;
    }
}